@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1>Phils Site</h1>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<ul>
    @for(int i = 1; i < 10; i++)
    {
        <li>Item is @i</li>
    }
</ul>


